@model JANVI_TEST.EDM.Admin
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <table class="table-condensed">
        <tr>
            <td>
                Email
            </td>
            <td>
                @Html.TextBoxFor(c => c.admin_email)
            </td>
        </tr>
        <tr>
            <td>
                Password
            </td>
            <td>
                @Html.PasswordFor(c => c.admin_password)
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Login">
            </td>
        </tr>
    </table>

}
